# Task 2: Manipulating data

Here the coordinates themselves don't matter at all. the only thing important is their weights. Bin the dataframe's 'weights' into five equeal sized bins, where the bins are counted as = 0 | max/4 | max/2 | max/4*3 | max. Plot this binned data as a histogram using seaborn or plt.

What and how to "submit":

    Create a new private git repo to which add user qty0.
    The repo should have (at least) two jupyter notebooks for the two tasks.
    The repo should have a requirements.txt for it's virtual env. !Hint -> pip freeze > req.txt.

In [ ]:
from IPython.core.display import HTML # For the HTML language

import warnings
warnings.filterwarnings('ignore') # Against the error messages of the multiple imports.

In [ ]:
# Here is a short code to hide the codes blocks to see just the images.
# An .HTML file looks better/cleaner if you turn on this. 
HTML('''<script>
code_show=true;
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
}
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit"
value="Click here to toggle on/off the raw code."></form>''')

In [1]:
#import the packages what we need
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [58]:
df = pd.read_csv('../solar_mesh.csv',skiprows=[0],header = None) 
# We can simply read the file with pandas, fortunately is in the manageable form,
# we have to set the first collumn to index collumn with "index_col=0".
# We can set the new index for the plot as df = df.set_index('bins_lat') but the first line is more formal.

In [59]:
df.drop([0], axis = 1, inplace = True)

In [62]:
column_maxes = df.max()
df_max = column_maxes.max()
column_mins = df.min()
df_min = column_mins.min()

In [63]:
bins = pd.interval_range(start=df_min, end= df_max, periods=4)

In [64]:
df_new = df.apply(pd.cut, bins=bins)

In [73]:
df_new =df_new.fillna(bins[0])

In [84]:
df_new

,1,2,3,4,5,6,7,8,9,10,...,51,52,53,54,55,56,57,58,59,60
0,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]",...,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]"
1,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]",...,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]"
2,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]",...,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]"
3,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]",...,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]"
4,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]",...,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]",...,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]"
86,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]",...,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]"
87,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]",...,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]"
88,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]",...,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]"
89,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]",...,"(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]","(0.0, 30500.0]"